/* SMall devices (portrait tablets and large phones, 600px and up) SM */
@media (min-width: 601px) and (max-width: 767.9px) {
    body {
        background-color: #e22b2b;
    }
    #wrapper {
    background-color: #00ff37;
    }
    header {
        background-color: rgb(84, 4, 150);
        height: 90px;
    }
    .sm {
        display: block;
    }
    .xs, .md, .lg, .xl {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    main div {
        background-color: #2be243;
        padding: 20px 0;
        margin: 0;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}