/* LarGe devices (laptops/desktops, 992px and up) LG */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-color: #2b9fe2;
    }
    #wrapper {
        background-color: blueviolet;
    }
    header {
        background-color: #01d848;
        height: 90px;
    }
    .lg {
        display: block;
    }
    .sm, .md, .xs, .xl {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 10px;
    }
    main div {
        background-color: #2be243;
        padding: 20px 0;
        margin: 0;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}