/* eXtra Large devices (large laptops and desktops, 1200px and up) XL */
@media (min-width: 1200px) {
    body {
        background-color: blueviolet;
    }
    #wrapper {
    background-color: #00aeff;
    }
    header {
        background-color: #ec1077;
        height: 90px;
    }
    .xl {
        display: block;
    }
    .sm, .md, .lg, .xs {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 10px;
    }
    main div {
        background-color: #2be243;
        padding: 20px 0;
        margin: 0;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}
